<section class="sawyTabs" *ngIf="screenData != null">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation"
                        *ngFor="let step of screenData.steps; let stepIndex = index;">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true"
                            (click)="GetStepItems(step, stepIndex)">{{step.stepName}} <a href="" onclick="return false"
                                style="color: aliceblue;" (click)="DeleteStep(step)">-</a>

                        </a>
                    </li>
                    <!-- <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Profile</a>
                    </li> -->
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="" onclick="return false"
                            role="tab" aria-controls="pills-contact" aria-selected="false"
                            (click)="ClearStepForm()">+</a>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <input type="button" class="btn btn-primary form-control" value="Add New Item"
                            (click)="ClearItemForm()">
                    </div>
                </div>
                <br>

                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab" *ngIf="screenData.step.items != null && !addStep">
                        <div class="customTab" *ngFor="let item of screenData.step.items">
                            <h5><span (click)="SelectItem(item)">{{item.itemName}}</span>
                                <a href="" onclick="return false" style="color: aliceblue;"
                                    (click)="DeleteItem(item)">-</a>
                            </h5>

                            <hr>
                            <ul>
                                <li>{{item.itemTitle}}</li>
                                <li>{{item.itemDesc}}</li>
                            </ul>
                        </div>

                        <div class="customTab">
                            <h5>Add/Edit</h5>
                            <hr>
                            <br>

                            <!-- Add and edit form -->
                            <form name="saveItemForm" #saveItemForm="ngForm">

                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-11">
                                        <div class="row">
                                            <div class="col-1">Name </div>
                                            <div class="col-5">
                                                <input type="text" class="form-control" id="itemName" name="itemName"
                                                    [(ngModel)]="screenData.item.itemName" #itemName="ngModel" required>

                                                <div class="form-group">
                                                    <div *ngIf="itemName.invalid && (itemName.dirty || itemName.touched)"
                                                        class="alert alert-danger">
                                                        <div *ngIf="itemName.errors.required">
                                                            Item name is required.
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-1">Title </div>
                                            <div class="col-5">
                                                <input type="text" class="form-control" id="itemTitle" name="itemTitle"
                                                    [(ngModel)]="screenData.item.itemTitle" #itemTitle="ngModel">

                                                <div class="form-group">
                                                    <div *ngIf="itemTitle.invalid && (itemTitle.dirty || itemTitle.touched)"
                                                        class="alert alert-danger">
                                                        <div *ngIf="itemTitle.errors.required">
                                                            Item title is required.
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-2">
                                                <input type="button" class="btn btn-primary form-control"
                                                    [value]="saveBtn" [disabled]="saveBtnDisabled"
                                                    (click)="SaveItem(saveItemForm.valid)">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-1">Description </div>
                                            <div class="col-5">
                                                <input type="text" class="form-control" name="itemDesc"
                                                    [(ngModel)]="screenData.item.itemDesc">
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </form>

                            <br>
                            <br>

                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input type="button" class="btn btn-primary form-control" value="Previous"
                                        (click)="Previous()">
                                </div>
                                <div class="col-3"></div>
                                <div class="col-2">
                                    <input type="button" class="btn btn-primary form-control" value="Next"
                                        (click)="Next()">
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        ...</div> -->
                    <!-- <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-contact-tab"
                        >

                        

                    </div> -->
                </div>

                <!-- Add new step form -->
                <form name="addStepForm" #addStepForm="ngForm" *ngIf="addStep">

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col-1">Name </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" id="stepName" name="stepName"
                                        [(ngModel)]="screenData.step.stepName" #stepName="ngModel" required>

                                    <div class="form-group">
                                        <div *ngIf="stepName.invalid && (stepName.dirty || stepName.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="stepName.errors.required">
                                                Step name is required.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-1">Description </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" name="stepDesc"
                                        [(ngModel)]="screenData.step.stepDesc">
                                </div>
                                <div class="col-2">
                                    <input type="button" class="btn btn-primary form-control" [value]="saveBtn"
                                        [disabled]="saveBtnDisabled" (click)="SaveStep(addStepForm.valid)">
                                </div>
                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</section>