.sawyTabs{
	padding: 50px 0;
}

.sawyTabs .nav .nav-item:first-of-type .nav-link:before{
	background: #fff;
}

.sawyTabs .nav .nav-item .nav-link{
	border-radius: 0;
    padding: 5px 41px;
    position: relative;
    background: #007bff;
    color: #fff;
}

.sawyTabs .nav .nav-item .nav-link:before{
	position: absolute;
    content: '';
    width: 34px;
    height: 34px;
    left: -21px;
    top: 0;
    transform: rotate(45deg);
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;  
}

.sawyTabs .nav .nav-item:last-of-type .nav-link:after{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    top: 5px;
    transform: rotate(45deg);
    right: -12px;
    background: #007bff;
 }

.sawyTabs .nav .nav-item .nav-link.active{
	color:  yellow;
}

/* Tabs content */
.sawyTabs .tab-content .tab-pane .customTab h5{
	background: #007bff;
    padding: 8px 30px;
    width: fit-content;
    margin-bottom: 0;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.sawyTabs .tab-content .tab-pane .customTab hr{
    margin-top: 0;
    border-color: #3395ff;
}